.conversation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    height: 75.5vh;
    width: 100vw;
    background-color: rgb(239, 239, 239);
    overflow-x: hidden;
    color: black;
}
.conversation::-webkit-scrollbar {
    width: 0.5px;
}

.categoryTitle2 {
    background-color: rgb(73, 90, 94);
    color: white;
    width: 100vw;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.categoryProducts2 {
    position: relative;
}
.cardProduct6 {
    width: 85vw;
    min-height: 80vh !important;
    height: auto;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    padding: 0;
    padding-bottom: 3em;

}

.cardProduct3 {
    width: 85vw;
    height: 25vh !important;
    margin: 0.5em;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: white!important;
    padding: 0;
}

.imageProductCard3 {
    height: 20vh;
    width: 20vw !important;
    border-radius: 0.5em;
    margin-left: 0.5em;
}

.cardTitle3 {
    text-decoration: underline;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardPrice3 {
    font-size: 1.3em;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.prices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45vw;
    font-size: 1.2em;
}

.dealFinished{
    width: 15vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66,71,76);
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    cursor: pointer;
}

.dealFinished:hover{
    background-color: rgb(95, 118, 118);
}
.startCard3 {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    padding-left: 0.5em;
}

.descriptionCard3 {
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCity2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5em;
    font-size: x-large;
    font-weight: bold;
    border-top: 1px solid lightgray;
}

.mapCard2 {
    overflow: hidden;
    height: 235px;
    width: 400px;
    margin-top: 0.5em;
}

.reviewCard2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: -5vh;
}
.reviewTest{
    margin-top: 18vh;
}

.reviewTitle2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.reviewStart2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
}

.reviewText2 {
    width: 50vw;
    font-size: 1.2em;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 1.1em;
}

.imageLocation {
    margin-top: 0.1em;
    width: 1.5em;
    height: 1.5em;
    background: url('../../../public/location.png') no-repeat center center / cover;
}

.oneComment {
    margin-top: 5vh;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.dateDetail {
    font-size: 0.6em;
    font-weight: lighter;

    color: gray;
    margin-left: 0.5em;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 4.2vh;
}

.imageChat2 {

    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    background: url('../../../public/chat.png') no-repeat center center / cover;

}
.conversationCard{
    position: absolute;
    z-index: 10;
    top: 80vh;
    left: 75vw;
}

.imageConversation {
    width: 5em;
    height: 5em;
    margin-right: 0.3em;
    background: url('../../../public/conversation.png') no-repeat center center / cover;
    cursor: pointer;
}

.messageConversation1{
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
    background-color: aqua;
}
.messageConversation2{
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
    background-color: rgb(95, 118, 118);
}

.messageTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleCard2{
    font-size: small !important;
    margin-left: 0.5em;
}
.titleCard3{
    font-size: small !important;
    margin-right: 0.5em;
}
.inputConversation{
    width: 50vw;
    height: 15vh;
    resize:none;
    background-color: white;
    color: black;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: black;
}
.messageGroup{
    width: 50vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.sendMesssage{
    width: 10vw;
    height: 5vh;
    z-index: 1 !important;
    margin-left: 39vw;
    margin-top: 8vh;
    position: absolute;
    background-color: rgb(66,71,76);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.sendMesssage2{
    width: 10vw;
    height: 5vh;
    z-index: 10;
    margin-left: 39vw;
    margin-top: -7vh;
    position: absolute;
    background-color: rgb(66,71,76);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.dropdownStar{
    z-index: 100;
    width: 10vw !important;
    height: 5vh !important;
    color: black !important;
    font-weight: bold !important;
    background-color: rgb(254, 228, 7) !important;
    border-radius: 0.5em !important;
    border: solid 0.1em rgb(0, 0, 0)  !important;
}
.dropdownStar2{
    z-index: 100;
    width: 10vw !important;
    height: auto;
    background-color: tomato;
}


@media (max-width: 600px) { 
    .dropdownStar{
        width: 20vw !important;
        height: 2.2em !important;
        margin-left: 5vw;
        font-size: small !important;
    }
    .dropdownStar2{
        width: 20vw !important;
        height: auto;
    }
    .sendMesssage2{
        margin-left: 55vw;
    }
    .oneComment{
        margin-top: 17vh;
    }
    .reviewTest{
        margin-top: 23vh;
    }

}