.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    min-height: 75vh;
    width: 100vw;
    background-color: rgb(239, 239, 239);
    overflow-x: hidden;
    color: black;
    margin-top: 24vh !important;
}

.categoryTitle3 {
    background-color: rgb(73, 90, 94);
    color: white;
    width: 100vw;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    z-index: 1;
}

.categoryProducts2 {
    position: relative;
}

.cardProduct2 {
    width: 85vw;
    min-height: 80vh !important;
    height: auto;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    padding: 0;
    padding-bottom: 3em;
    top: 7vh;
}

.imageProductCard2 {
    height: 50vh;
    width: 50vw !important;
    border-radius: 0.5em;
    margin-top: 1em;
}

.cardTitle2 {
    text-decoration: underline;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardPrice2 {
    font-size: 1.3em;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.startCard2 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.7em;
    border-top: 1px solid lightgray;
    padding-left: 0.5em;
}

.descriptionCard2 {
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCity2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5em;
    font-size: x-large;
    font-weight: bold;
    border-top: 1px solid lightgray;
}

.mapCard2 {
    overflow: hidden;
    height: 235px;
    width: 400px;
    margin-top: 0.5em;
}

.reviewCard2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.reviewTitle2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.reviewStart2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
}

.reviewText2 {
    width: 50vw;
    font-size: 1.2em;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 1.1em;
}

.imageLocation {
    margin-top: 0.1em;
    width: 1.5em;
    height: 1.5em;
    background: url('../../../public/location.png') no-repeat center center / cover;
}

.oneComment {
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.dateDetail {
    font-size: 0.6em;
    font-weight: lighter;

    color: gray;
    margin-left: 0.5em;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 4.2vh;
}

.imageChat2 {

    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    background: url('../../../public/chat.png') no-repeat center center / cover;

}

.conversationCard {
    position: absolute;
    z-index: 10;
    top: 80vh;
    left: 75vw;
}

.imageConversation {
    width: 5em;
    height: 5em;
    margin-right: 0.3em;
    background: url('../../../public/conversation.png') no-repeat center center / cover;
    cursor: pointer;
}

.sendMesssage4 {
    margin-left: 44vw;
    margin-top: -7vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imageCuore4 {
    width: 2.3em;
    height: 2.3em;
    margin-right: 1em;
    margin-left: 1em;
    background: url('../../../public/cuore.png') no-repeat center center / cover;
    cursor: pointer;

}

.imageCuore5 {
    width: 2.3em;
    height: 2.3em;
    margin-right: 1em;
    margin-left: 1em;
    background: url('../../../public/cuore3.png') no-repeat center center / cover;
    cursor: pointer;

}

@media (max-width: 600px) {
    .descriptionCard2 {
        height: 15vh !important;
        width: 80vw !important;
    }

    .mapCard2 {
        height: 20vh !important;
        width: 80vw !important;
    }

    .startCard2 {
        width: 85vw !important;
        font-size: 1.5em !important;

    }

    .imageChat2 {
        visibility: hidden;
    }

    .nameProductDetail {
        width: 40vw !important;
        font-size: 1em;
        margin-left: -5vw;
    }

    .reviewText2,
    .oneComment {
        width: 80vw !important;
    }

    .reviewTitle2 {
        width: 80vw !important;
    }

    .imageConversation {
        width: 3em !important;
        height: 3em !important;
    }
}

.toastyAddFavorite {
    position: absolute;
    z-index: 100;
    margin-top: 30vh !important;
}