.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    height: 75.5vh;
    width: 100vw;
    background-color: rgb(239, 239, 239);
    overflow-x: hidden;
    color: black;
    margin-top: 24vh !important;
}

.chats::-webkit-scrollbar {
    width: 0.5px;
}

.categoryTitle4 {
    background-color: rgb(73, 90, 94);
    color: white;
    width: 102vw;
    font-size: 2em;
    font-weight: bold;
    position: fixed !important;
    z-index: 1;
    margin-left: -19vw;
}

.categoryProducts2 {
    position: relative;
}

.cardProduct4 {
    width: 65vw;
    /* min-height: 80vh !important; */
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 2vw;
    top: 20vh;
}

.cardProduct31 {
    width: 50vw;
    height: 20vh !important;
    margin: 0.5em;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 143, 143) !important;
    padding: 0;
    cursor: pointer;
}

.cardProduct32 {
    width: 50vw;
    height: 20vh !important;
    margin: 0.5em;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 168, 170) !important;
    padding: 0;
    cursor: pointer;
}

.imageProductCard2 {
    height: 50vh;
    width: 50vw !important;
    border-radius: 0.5em;
}

.cardTitle2 {
    text-decoration: underline;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardPrice2 {
    font-size: 1.3em;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.startCard2 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.7em;
    border-top: 1px solid lightgray;
    padding-left: 0.5em;
}

.descriptionCard2 {
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCity2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5em;
    font-size: x-large;
    font-weight: bold;
    border-top: 1px solid lightgray;
}

.mapCard2 {
    overflow: hidden;
    height: 235px;
    width: 400px;
    margin-top: 0.5em;
}

.reviewCard2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.reviewTitle2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.reviewStart2 {
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
}

.reviewText2 {
    width: 50vw;
    font-size: 1.2em;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 1.1em;
}

.imageLocation {
    margin-top: 0.1em;
    width: 1.5em;
    height: 1.5em;
    background: url('../../../public/location.png') no-repeat center center / cover;
}

.oneComment {
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.dateDetail {
    font-size: 0.6em;
    font-weight: lighter;

    color: gray;
    margin-left: 0.5em;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 4.2vh;
}

.imageChat2 {

    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    background: url('../../../public/chat.png') no-repeat center center / cover;

}

.conversationCard {
    position: absolute;
    z-index: 10;
    top: 80vh;
    left: 75vw;
}

.imageConversation {
    width: 5em;
    height: 5em;
    margin-right: 0.3em;
    background: url('../../../public/conversation.png') no-repeat center center / cover;
    cursor: pointer;
}

.messageConversation1 {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
    background-color: aqua;
}

.messageConversation2 {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
    background-color: rgb(95, 118, 118);
}

.messageTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titleCard2 {
    font-size: small !important;
    margin-left: 0.5em;
}

.titleCard3 {
    font-size: small !important;
    margin-right: 0.5em;
}

.inputConversation {
    width: 50vw;
    height: 15vh;
    resize: none;
    background-color: white;
    color: black;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: black;
}

.messageGroup {
    width: 50vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.sendMesssage {
    width: 10vw;
    height: 5vh;
    z-index: 10;
    margin-left: 39vw;
    margin-top: 8vh;
    position: absolute;
    background-color: rgb(66, 71, 76);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.chatCard3,
.chatCard4 {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    padding-left: 1.3em;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.imageProductCard4 {
    height: 16vh;
    width: 15vw !important;
    border-radius: 0.5em;
    margin-left: 1em;
}

.cardTitle31 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.cardTitle32 {
    text-decoration: underline;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeChat {
    font-size: small;
    margin-left: 0.5em;
    display: flex;
    justify-content: end;
    align-items: end;


}

@media (max-width: 600px) {

    .cardProduct4{
        width: 90vw;
        margin-top: 0.5em;
        margin-left: 4.5vw;
    }
    .categoryTitle4{
        margin-left: -5vw;
    }
    .cardProduct31,
    .cardProduct32{
        width: 80vw;
    }

    .cardTitle32{
        height: 6vh;
    }
    .cardTitle31,
    .cardTitle32{
        font-size: 0.8em !important;
    }
    .cardText31{
        font-size: 0.6em !important;
    }
    .imageProductCard4{
        width: 22vw !important;
    }

    .categoryTitle351,
    .categoryTitle312{
        margin-left: -2.7vw !important;
    }
    .notiChats{
        left: 92% !important;
        top: -8% !important;
    }
}

.categoryTitle312 {
    background-color: rgb(73, 90, 94);
    color: white;
    width: 100vw;
    height: 12vh;
    font-size: 4vh;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -17.5vw;
}
.categoryTitle351 {
    background-color: rgb(73, 90, 94);
    color: white;
    width: 100vw;
    height: 6vh;
    font-size: 3vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    position: fixed;
    z-index: 10;
    margin-left: -17.5vw;
    border-top: 1px solid lightgray;
}
.imageBuying {
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.3em;
    background: url('../../../public/buying.png') no-repeat center center / cover;
    cursor: pointer;
}
.imageBuying:hover {
    background-image: url('../../../public/buying2.png');
}
.imageSelling {
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.3em;
    background: url('../../../public/selling.png') no-repeat center center / cover;
    cursor: pointer;
}
.imageSelling:hover {
    background-image: url('../../../public/selling2.png');
}
.imageBuyingNoti {
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.3em;
    background: url('../../../public/buyingNoti.png') no-repeat center center / cover;
    cursor: pointer;
}
.imageBuyingNoti:hover {
    background-image: url('../../../public/buying2Noti.png');
}
.imageSellingNoti {
    width: 0.9em;
    height: 0.9em;
    margin-right: 0.3em;
    background: url('../../../public/sellingNoti.png') no-repeat center center / cover;
    cursor: pointer;
}
.imageSellingNoti:hover {
    background-image: url('../../../public/selling2Noti.png');
}
.notiChats{
    width: 30px; 
    height: 30px;
    cursor: pointer;
    margin: 0.2em;
    position: absolute;
    left: 96.5%;
    top: -7%;
}