.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myNavBar {
    background-color: rgb(80, 132, 132);
    min-height: 13vh;
    height: auto;
    padding-left: 2em !important;
    padding-right: 2em !important;
    border-bottom: 1px solid whitesmoke;
    z-index: 2;
}
.myNavBar0 {
    background-color: rgb(80, 132, 132);
    height: 7vh;
    padding-left: 2em !important;
    padding-right: 2em !important;
    border-bottom: 1px solid whitesmoke;
    z-index: 10;
}

.myNavBar1 {
    width: 50vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.myNavBar2 {
    background-color: rgb(234, 243, 243);
    margin-bottom: 0.5em;
    position: relative;

}

.myNavBar3 {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.myNavBar4 {
    width: 26.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.myNavBar5 {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 1.5em;
}

.myNavBar7:hover{
    color: whitesmoke !important;
    font-weight: bold;

}
.test {

    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.my-dropdown{
    z-index: 10;
}
.my-dropdown .dropdown-toggle {
    font-weight: bold;
}
.my-dropdown .dropdown-toggle:hover {
    color: whitesmoke;
}
.my-dropdown .dropdown-menu {
    background-color: ghostwhite;
}

.my-dropdown .dropdown-item {
    color: rgb(69,68,66);
}

.my-dropdown .dropdown-item:hover {
    background-color: rgb(146, 187, 187);
    font-weight: bold;
    transition: 0.2s;
}

.test2 {
    width: 90vw;
    display: flex;
    justify-content: end;
    align-items: start;
    background-color: aqua;
}

.imageUser {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
    background: url('../../../public/user.png') no-repeat center center / cover;
}

.imageUser:hover {
    background-image: url('../../../public/user2.png');
}
.imagePlus {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
    background: url('../../../public/plus.png') no-repeat center center / cover;
}

.imagePlus:hover {
    background-image: url('../../../public/plus2.png');
}
.imageCuore {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
    background: url('../../../public/cuore.png') no-repeat center center / cover;
}

.imageCuore:hover {
    background-image: url('../../../public/cuore2.png');
}
.imageChat {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
    background: url('../../../public/chat.png') no-repeat center center / cover;
}

.imageChat:hover {
    background-image: url('../../../public/chat2.png');
}
.imageExit {
    width: 1.8em;
    height: 1.8em;
    margin-right: 0.3em;
    background: url('../../../public/exit.png') no-repeat center center / cover;
}

.imageExit:hover {
    background-image: url('../../../public/exit2.png');
}
.imageLogo {
    width: 3.3em;
    height: 3.3em;
    margin-right: 0.3em;
    background: url('../../../public/logo.png') no-repeat center center / cover;
}
